.templatemyaccount
  / TITLE BEGINS
  .headerimage{:style => "background-image: url('http://www.themepush.com/demo-kailo/wp-content/uploads/sites/6/2015/03/header.jpg');"}
    .headercontent
      .container
        .row
          .col-md-12
            .fleft
              %h1 Checkout
            .fright.breadc
              %a{:href => "index.html"} Home
              \/ Checkout
  / TITLE ENDS
  .container.padtop50.padbot10
    .row
      / MAIN CONTENT BEGINS
      .col-md-12
        #edd_checkout_wrap
          %form#edd_checkout_cart_form{:method => "post"}
            #edd_checkout_cart_wrap
              %table#edd_checkout_cart.ajaxed
                %thead
                  %tr.edd_cart_header_row
                    %th.edd_cart_item_name
                      Item Name
                    %th.edd_cart_item_price
                      Item Price
                    %th.edd_cart_actions
                      Actions
                %tbody
                  / cart item 1
                  %tr.edd_cart_item
                    %td.edd_cart_item_name
                      .edd_cart_item_image
                        %img.attachment-25x25.wp-post-image{:alt => "172_1", :height => "25", :src => "http://www.themepush.com/demo-kailo/wp-content/uploads/sites/6/edd/2015/03/172_1-150x150.jpg", :width => "25"}
                      %span.edd_checkout_cart_item_title Eyes Wide Shut
                    %td.edd_cart_item_price
                      $17.00
                    %td.edd_cart_actions
                      %a.edd_cart_remove_item_btn{:href => "checkout.html#"} Remove
                  / cart item 2
                  %tr.edd_cart_item
                    %td.edd_cart_item_name
                      .edd_cart_item_image
                        %img.attachment-25x25.wp-post-image{:alt => "163_1", :height => "25", :src => "http://www.themepush.com/demo-kailo/wp-content/uploads/sites/6/edd/2015/03/163_1-150x150.jpg", :width => "25"}
                      %span.edd_checkout_cart_item_title Travel Fashion
                    %td.edd_cart_item_price
                      $19.00
                    %td.edd_cart_actions
                      %a.edd_cart_remove_item_btn{:href => "checkout.html#"} Remove
                  / cart item 3
                  %tr.edd_cart_item
                    %td.edd_cart_item_name
                      .edd_cart_item_image
                        %img.attachment-25x25.wp-post-image{:alt => "168_1", :height => "25", :src => "http://www.themepush.com/demo-kailo/wp-content/uploads/sites/6/edd/2015/03/168_1-150x150.jpg", :width => "25"}
                      %span.edd_checkout_cart_item_title Bananas
                    %td.edd_cart_item_price
                      $6.50
                    %td.edd_cart_actions
                      %a.edd_cart_remove_item_btn{:href => "checkout.html#"} Remove
                  / cart item 4
                  %tr.edd_cart_item
                    %td.edd_cart_item_name
                      .edd_cart_item_image
                        %img.attachment-25x25.wp-post-image{:alt => "5_1", :height => "25", :src => "http://www.themepush.com/demo-kailo/wp-content/uploads/sites/6/edd/2015/03/5_1-150x150.jpg", :width => "25"}
                      %span.edd_checkout_cart_item_title Sandy Banner
                    %td.edd_cart_item_price
                      $8.00
                    %td.edd_cart_actions
                      %a.edd_cart_remove_item_btn{:href => "checkout.html#"} Remove
                %tfoot
                  %tr.edd_cart_footer_row
                    %td
                      Total:
                      %span.edd_cart_amount{"data-subtotal" => "50.5", "data-total" => "50.5"} $50.50
          #edd_checkout_form_wrap.edd_clearfix
            %form#edd_purchase_form.edd_form{:action => "#", :method => "POST"}
              %fieldset#edd_checkout_user_info
                %p#edd-email-wrap
                  %label.edd-label{:for => "edd-email"}
                    Email Address
                    %span.edd-required-indicator *
                  %span.edd-description We will send the purchase receipt to this address.
                  %input#edd-email.edd-input.required{:name => "edd_email", :placeholder => "Email address", :type => "email", :value => ""}
                %p#edd-first-name-wrap
                  %label.edd-label{:for => "edd-first"}
                    First Name
                    %span.edd-required-indicator *
                  %span.edd-description We will use this to personalize your account experience.
                  %input#edd-first.edd-input.required{:name => "edd_first", :placeholder => "First name", :type => "text", :value => ""}
                %p#edd-last-name-wrap
                  %label.edd-label{:for => "edd-last"}
                    Last Name
                  %span.edd-description We will use this as well to personalize your account experience.
                  %input#edd-last.edd-input{:name => "edd_last", :placeholder => "Last name", :type => "text", :value => ""}
              %fieldset#edd_purchase_submit
                %p#edd_final_total_wrap
                  %strong Purchase Total:
                  %span.edd_cart_amount{"data-subtotal" => "50.5", "data-total" => "50.5"} $50.50
                %input#edd-purchase-button.edd-submit.button{:name => "edd-purchase", :type => "submit", :value => "Pay with PayPal"}
      / MAIN CONTENT ENDS