%footer.themefooter.section.medium-padding.bg-graphite
  .container
    .section-inner.row
      .column.column-1.col-md-4.rightbd
        .widgets
          .widget.widget_text
            .widget-content
              %h3.widget-title Über &nbsp; “Mein starkes Fahrrad”
              .textwidget
                Duis suscipit dapibus massa, in placerat metus iaculis ut. Praesent semper risus elit. Nam rutrum ipsum id sagittis egestas ulla eget nunc.
            .clear
      / /footer-a
      .column.column-1.col-md-4.rightbd
        .widgets
          .widget.widget_wysija
            .widget-content
              %h3.widget-title Subscribe to our Newsletter
              .widget_wysija_cont
                %form.widget_wysija
                  Subscribe to our newsletter and join our 1234 subscribers.
                  %p.wysija-paragraph
                    %label
                      Email
                      %span.wysija-required *
                    %input.wysija-input{:class => "validate[required,custom[email]]", :name => "", :title => "Email", :type => "text", :value => ""}
                  %input.wysija-submit.wysija-submit-field{:type => "submit", :value => "Subscribe!"}
            .clear
      / /footer-b
      .column.column-1.col-md-4
        .widgets
          .widget.widget_edd_categories_tags_widget
            .widget-content
              %h3.widget-title Categories
              %ul.edd-taxonomy-widget
                %li
                  %a{:href => "index.html#"} Sets
                %li
                  %a{:href => "index.html#"} Services
                %li
                  %a{:href => "index.html#"} Subscription
            .clear
      / /footer-c
      .clear
    / /footer-inner
  / /grid
  .sectioncredits
    .container
      .row
        .col-md-12
          %span.credits-left.fleft
            2015 © All Rights Reserved, Mein starkes Fahrrad UG (haftungsbeschränkt)
          %ul.footermenu.fright
            %li
              %a{:href => "index.html"} Home
            %li
              %a{:href => "shop.html"} Shop
            %li
              %a{:href => "blog.html"} Blog
            %li
              %a{:href => "myaccount.html"} My Account
        .clear
    / /grid
  / /sectioncredits
/ /footer
