%nav#wow-menu.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        = image_tag 'logo.png'

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul#menu-top.nav.navbar-nav.navbar-right
        %li{class: controller_name == 'home' && 'active'}
          = link_to "Home", root_path
        %li{class: controller_name == 'blogs' && 'active'}
          = link_to "Blog", blogs_path
        %li{class: controller_name == 'contact' && 'active'}
          = link_to "Kontakt", url_for( controller: 'contact')
        %li{class: (controller_name == 'checkout') && 'active'}
          = link_to url_for( controller: 'checkout') do
            %i.fa.fa-shopping-cart
            Warenkorb (2)
