.headerimage.homeimg.text-center{:style => "background-image: url('#{image_path 'home-bg.jpg'}');"}
  .headercontent.home
    .container
      .row
        .col-md-12
          %h1{"data-scrollreveal" => "enter top over 1.9s after 0.2s", "data-scrollreveal-initialized" => true}
            -#%span.mein Mein
            = image_tag 'mein.png', class: 'mein'
            starkes Fahrrad
          %p.lead{"data-scrollreveal" => "enter bottom over 1.9s after 0.4s", "data-scrollreveal-initialized" => "true"}
            Dein Fahrrad wird zum eBike
          %a.homeimgbtn{"data-scrollreveal" => "enter bottom over 1.0s after 1.6s", "data-scrollreveal-initialized" => "true", "data-scroll" => true, :href => "#start"}
            Einfach losfahren

#start
#homepagetemplate.container.padtop10.padbot40
        
  = render partial: 'products/products'
  
  .clear
  .divider1

  = render partial: 'products/features'
  
  .clear
  .divider1
  
  = render partial: 'products/ratings'
            