.singledownloadphp
  .headerimage{:style => "background-image: url('http://www.themepush.com/demo-kailo/wp-content/uploads/sites/6/2015/03/header.jpg');"}
    .headercontent
      .container
        .row
          .col-md-12
            .fleft
              %h1 eBike Einbauset

  .container.padtop50.padbot50
    .row
      .col-md-9
        #primary.content-area
          %main#main.site-main{:role => "main"}
            %article.contentdownloadphp
              .row
                .col-md-3
                  %span.entryitemname
                    %b Item:
                    eBike Einbauset
                    %br/
                  %span.entryprice
                    %b Preis
                    € 699
                    %br/
                  %span.entrysku
                    %b SKU:
                    set1
                    %br
                    %br
                  %span.entrybasicaddto
                    %a.edd-add-to-cart.button.edd-submit{:href => "#"}
                      %span.edd-add-to-cart-label.white In den Warenkorb
                .col-md-9
                  %img.attachment-post-thumbnail.wp-post-image{:alt => "5_1", :height => "370", :src => "/images/ebikekit.jpg", :width => "555"}
                    %p
                      This is your item description. Add as many info for your buyers about this product.
                    %p
                      Proin imperdiet cursus lacus, eu rutrum eros volutpat eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a purus sed sapien congue pharetra. Proin tellus ligula, tincidunt at ante in, suscipit pretium nulla. Fusce nec scelerisque turpis. Proin id efficitur tortor.
                    %p
                      Nullam nec augue nulla. Nunc quis diam ante. Nam sed feugiat nisl. Nunc eget lacus tincidunt, feugiat enim non, volutpat tellus. Vivamus at cursus mi. Vivamus eu placerat odio. Curabitur malesuada consectetur dui, quis mollis velit vulputate in. Ut molestie a libero eget aliquet. Pellentesque at turpis placerat, porta dolor eu, scelerisque nisl.
                    %form.edd_download_purchase_form{:method => "post"}
                      .edd_purchase_submit_wrapper
                        %a.edd-add-to-cart.button.edd-submit{:href => "#"}
                          %span.edd-add-to-cart-label.white In den Warenkorb

              .row
                .col-md-12.padtop10
                  %h5.section-title.related-entries-title YOU MAY ALSO LIKE
                  %ul.related-entries
                    %li
                      .relatedinner
                        %a.related-entry-thumb{:href => "#", :rel => "bookmark", :title => "Bananas"}
                          %img.attachment-digitalstore_thumb_155x156.wp-post-image{:alt => "168_1", :height => "370", :src => "http://www.themepush.com/demo-kailo/wp-content/uploads/sites/6/edd/2015/03/168_1.jpg", :title => "Bananas", :width => "555"}
                            .edd-the-price
                              $6.50
                        %a.related-entry-title{:href => "#", :rel => "bookmark", :title => "Bananas"} Bananas
                    %li
                      .relatedinner
                        %a.related-entry-thumb{:href => "#", :rel => "bookmark", :title => "Old Game"}
                          %img.attachment-digitalstore_thumb_155x156.wp-post-image{:alt => "181_1", :height => "370", :src => "http://www.themepush.com/demo-kailo/wp-content/uploads/sites/6/edd/2015/03/181_1.jpg", :title => "Old Game", :width => "555"}
                            .edd-the-price
                              $33.00
                        %a.related-entry-title{:href => "#", :rel => "bookmark", :title => "Old Game"} Old Game
                    %li
                      .relatedinner
                        %a.related-entry-thumb{:href => "#", :rel => "bookmark", :title => "Eyes Wide Shut"}
                          %img.attachment-digitalstore_thumb_155x156.wp-post-image{:alt => "172_1", :height => "370", :src => "http://www.themepush.com/demo-kailo/wp-content/uploads/sites/6/edd/2015/03/172_1.jpg", :title => "Eyes Wide Shut", :width => "555"}
                            .edd-the-price
                              $17.00
                        %a.related-entry-title{:href => "#", :rel => "bookmark", :title => "Eyes Wide Shut"} Eyes Wide Shut
                  .clearfix

      .col-md-3
        #secondary.widget-area{:role => "complementary"}
          %aside.widget.widget_edd_cart_widget
            %h1.widget-title.section-title
              %span Mein Warenkorb
            %p.edd-cart-number-of-items
              Number of items in cart:
              %span.edd-cart-quantity 2
            %ul.edd-cart
              %li.edd-cart-item
                %span.edd-cart-item-title eBike Set
                %span.edd-cart-item-separator -
                %span.edd-cart-item-price &nbsp;€699,00&nbsp;
                %span.edd-cart-item-separator -
                %a.edd-remove-from-cart{:role => "#"} remove
              %li.edd-cart-item
                %span.edd-cart-item-title eBike Set mit Einbau
                %span.edd-cart-item-separator -
                %span.edd-cart-item-price &nbsp;€999,00&nbsp;
                %span.edd-cart-item-separator -
                %a.edd-remove-from-cart{:href => "#"} remove
              %li.cart_item.edd_subtotal
                Subtotal:
                %span.subtotal €0.000,00
              %li.cart_item.edd_checkout
                %a{:href => "#"} Jetzt Bestellen

