.templatecontact
  %iframe{ src: "https://maps.google.de/maps?hl=de&q=Kattendorf&ie=UTF8&t=&z=8&iwloc=B&output=embed", frameborder: 0, scrolling: "no", marginheight: 0, marginwidth: 0, width: '100%', height: '400px' }
  
  .container.padtop20.padbot50
    .row
      .col-md-7
        .titleborder.left
          %div
            %h4.padbot10 Senden Sie uns eine Nachricht
        .done
          .alert.alert-success
            %button.close{"data-dismiss" => "alert", :type => "button"} ×
            Your message has been sent. Thank you!
        %form#contactform{:action => "contact.php", :method => "post"}
          .form
            %input.col-md-6{:name => "name", :placeholder => "Name", :type => "text"}
              %input.col-md-6{:name => "email", :placeholder => "E-mail", :type => "text"}
                %textarea.col-md-12{:name => "comment", :placeholder => "Nachricht", :rows => "7"}
                %input#submit.btn.btn-primary{:type => "submit", :value => "Absenden"}
      .col-md-5
        .titleborder.left
          %div
            %h4.padbot10 So sind wir erreichbar
        %i.fa.fa-map-marker
        %i Adresse
        \: 12345 Kattendorf, Buschweg 3
        %br
        %br
        %i.fa.fa-clock-o
        %i Erreichbarkeit
        \: Montag - Freitag, 9 - 21 Uhr
        %br
        %br
        %i.fa.fa-mobile-phone
        %i Telefon
        \: 0170 1234567
        %br
        %br
        %i.fa.fa-envelope
        %i E-mail
        %a{:href => "mailto:info@meinstarkesfahrrad.de"} info@meinstarkesfahrrad.de
        