.row.text-center.seactionitemfeatures
  .narrowheader
    %h2.maintitle PRODUCT FEATURES
    56.000 customers cant be wrong. We offer free lifetime support and updates for all our items! SOME VERY NICE MOTTO TO EXIT. MAKE YOUR VISITORS LOVE THE PRODUCTS!
.col-md-4
  .featurebox
    %h2
      %i.fa.fa-gift
      Support
    Duis suscipit dapibus massa, in placerat metus iaculis ut. Praesent semper risus elit. Nam rutrum ipsum id sagittis egestas ulla eget nunc.
.col-md-4
  .featurebox
    %h2
      %i.fa.fa-trophy
      Security
    Duis suscipit dapibus massa, in placerat metus iaculis ut. Praesent semper risus elit. Nam rutrum ipsum id sagittis egestas ulla eget nunc.
.col-md-4
  .featurebox
    %h2
      %i.fa.fa-bullhorn
      Easy Install
    Duis suscipit dapibus massa, in placerat metus iaculis ut. Praesent semper risus elit. Nam rutrum ipsum id sagittis egestas ulla eget nunc.
.col-md-4
  .featurebox
    %h2
      %i.fa.fa-cogs
      Options
    Duis suscipit dapibus massa, in placerat metus iaculis ut. Praesent semper risus elit. Nam rutrum ipsum id sagittis egestas ulla eget nunc.
.col-md-4
  .featurebox
    %h2
      %i.fa.fa-anchor
      More
    Duis suscipit dapibus massa, in placerat metus iaculis ut. Praesent semper risus elit. Nam rutrum ipsum id sagittis egestas ulla eget nunc.
.col-md-4
  .featurebox
    %h2
      %i.fa.fa-cloud-download
      Built for you
    Duis suscipit dapibus massa, in placerat metus iaculis ut. Praesent semper risus elit. Nam rutrum ipsum id sagittis egestas ulla eget nunc.
