.row
  .col-md-12
    .clear.text-center.sectionlatestitems
      %h2.maintitle Unsere Angebote
      .separatr
        %span
          %a.view-all{:href => "shop.html"}
            %i.fa.fa-reorder

    .wowitemboxlist.sectionlatestitems.clear{:style => "position: relative; height: 2156px;"}

      = render partial: 'products/product2'

      = render partial: 'products/product'
      
      = render partial: 'products/product'
      
      = render partial: 'products/product'
