.wowitembox
  .wowitemboxinner
    .imagearea
      %img.attachment-post-thumbnail.wp-post-image{:alt => "163_1", :height => "370", :src => "/images/set.jpeg", :width => "555"}
        .caption
          .blur
          .caption-text
            .captionbuttons
              = link_to url_for(action: 'show'), class: 'captiondetails' do
                %i.fa.fa-link
                Details
    .notesarea
      = link_to url_for(action: 'show') do
        %h2 Einbau-Set
      .description
        %p
          Sed ac scelerisque ligula, ac aliquam ligula. Vivamus ut pellentesque nisi, vel com.
      .notesbottom
        .price.fleft
          ab €699.00
        .cart.fright
          = link_to url_for(action: 'show'), class: 'edd-add-to-cart' do
            %span.edd-add-to-cart-label Jetzt bestellen
        .clearfix
