.wowitembox
  .wowitemboxinner
    .imagearea
      %img.attachment-post-thumbnail.wp-post-image{:alt => "163_1", :height => "370", :src => "/images/month.png", :width => "555"}
        .caption
          .blur
          .caption-text
            .captionbuttons
              = link_to url_for(action: 'show'), class: 'captiondetails' do
                %i.fa.fa-link
                Details
    .notesarea
      = link_to url_for(action: 'show') do
        %h2 Einen Monat eBike fahren
      .description
        %p
          Fahre einen Monat mit Deinem eigenen Fahrrad eBike. Die günstige Variante, um z. B. auf einer ausgedehnten Tour zu erleben, wie stark Dein Fahrrad sein kann.
      .notesbottom
        .price.fleft
          ab €99.00
        .cart.fright
          = link_to url_for(action: 'show'), class: 'edd-add-to-cart' do
            %span.edd-add-to-cart-label Jetzt bestellen
        .clearfix
