.row
  .col-md-12
    .clear.text-center.sectionlatestitems
      %h2.maintitle Bewertungen
      .separatr
        %span
          %a.view-all
            %i.fa.fa-user
    .well
      "Ich war erstaunt wie einfach der Einbau des Sets ging. So viel Spaß beim Fahrradfahren. Endlich fährt mein Mann nicht immer 50m vor mir her. Vielen Dank für dieses tolle Produkt!"
      %br
      %i.pull-right 
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star        
        \-- Hannelore Meisner, Kiel

    .well
      "Vor nicht einmal einem Jahr habe ich mir ein neues Fahrrad gekauft. Es wäre schade gewesen, dieses gegen ein eBike auszutauschen. Dank Ihres Umbausets habe ich jetzt genau das Fahrrad, das ich mir immer gewünscht habe - stark!"
      %br
      %i.pull-right 
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        \-- Manuel Senftenberg, Starnberg