!!!
%html{lang: "de-DE"}
  %head
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
    %link{href: image_path('favicon.ico'), rel: "shortcut icon"}
    %title Mein starkes Fahrrad
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    
  %body
    .boxedlayout
      
      = render 'shared/header'
      
      = yield
      
      = render 'shared/footer'

:javascript
  document.write=function() {};
  document.writeln=function() {};
= javascript_include_tag 'application'
