.templatemyaccount
  / TITLE BEGINS
  .headerimage{:style => "background-image: url('http://www.themepush.com/demo-kailo/wp-content/uploads/sites/6/2015/03/header.jpg');"}
    .headercontent
      .container
        .row
          .col-md-12
            .fleft
              %h1 My Account
            .fright.breadc
              %a{:href => "index.html"} Home
              \/ My Account
  / TITLE ENDS
  .container.padtop40.padbot50
    .row
      / MAIN CONTENT BEGINS
      .col-md-12
        .wraplogin
          %form#edd_login_form.edd_form{:action => "#", :method => "post"}
            %fieldset
              %legend Log into Your Account
              %p
                %label Username
                %input#edd_user_login.required.edd-input{:name => "edd_user_login", :title => "Username", :type => "text"}
              %p
                %label Password
                %input#edd_user_pass.password.required.edd-input{:name => "edd_user_pass", :type => "password"}
              %p
                %input#edd_login_submit.edd_submit{:type => "submit", :value => "Log In"}
              %p.edd-lost-password
                %a{:href => "myaccount.html#", :title => "Lost Password"}
                  Lost Password?
        %span.or or
        .wrapregister
          %form#edd_register_form.edd_form{:action => "#", :method => "post"}
            %fieldset
              %legend Register New Account
              %p
                %label Username
                %input#edd-user-login.required.edd-input{:name => "edd_user_login", :title => "Username", :type => "text"}
              %p
                %label Email
                %input#edd-user-email.required.edd-input{:name => "edd_user_email", :title => "Email Address", :type => "email"}
              %p
                %label Password
                %input#edd-user-pass.password.required.edd-input{:name => "edd_user_pass", :type => "password"}
              %p
                %label Confirm Password
                %input#edd-user-pass2.password.required.edd-input{:name => "edd_user_pass2", :type => "password"}
              %p
                %input.button{:name => "edd_register_submit", :type => "submit", :value => "Register"}
      / MAIN CONTENT ENDS